web service/GymServiceClient/src/conf/xml-resources/web-service-references/NewGymWebService/wsdl/localhost_8080/GymService1/NewGymWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://GymService1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://GymService1/" name="NewGymWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://GymService1/" schemaLocation="http://localhost:8080/GymService1/NewGymWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"/>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"/>
</message>
<message name="search">
<part name="parameters" element="tns:search"/>
</message>
<message name="searchResponse">
<part name="parameters" element="tns:searchResponse"/>
</message>
<message name="upgrade">
<part name="parameters" element="tns:upgrade"/>
</message>
<message name="upgradeResponse">
<part name="parameters" element="tns:upgradeResponse"/>
</message>
<message name="bmi">
<part name="parameters" element="tns:bmi"/>
</message>
<message name="bmiResponse">
<part name="parameters" element="tns:bmiResponse"/>
</message>
<message name="renew">
<part name="parameters" element="tns:renew"/>
</message>
<message name="renewResponse">
<part name="parameters" element="tns:renewResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="NewGymWebService">
<operation name="register">
<input wsam:Action="http://GymService1/NewGymWebService/registerRequest" message="tns:register"/>
<output wsam:Action="http://GymService1/NewGymWebService/registerResponse" message="tns:registerResponse"/>
</operation>
<operation name="search">
<input wsam:Action="http://GymService1/NewGymWebService/searchRequest" message="tns:search"/>
<output wsam:Action="http://GymService1/NewGymWebService/searchResponse" message="tns:searchResponse"/>
</operation>
<operation name="upgrade">
<input wsam:Action="http://GymService1/NewGymWebService/upgradeRequest" message="tns:upgrade"/>
<output wsam:Action="http://GymService1/NewGymWebService/upgradeResponse" message="tns:upgradeResponse"/>
</operation>
<operation name="bmi">
<input wsam:Action="http://GymService1/NewGymWebService/bmiRequest" message="tns:bmi"/>
<output wsam:Action="http://GymService1/NewGymWebService/bmiResponse" message="tns:bmiResponse"/>
</operation>
<operation name="renew">
<input wsam:Action="http://GymService1/NewGymWebService/renewRequest" message="tns:renew"/>
<output wsam:Action="http://GymService1/NewGymWebService/renewResponse" message="tns:renewResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://GymService1/NewGymWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://GymService1/NewGymWebService/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="NewGymWebServicePortBinding" type="tns:NewGymWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="register">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="search">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="upgrade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bmi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="renew">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewGymWebService">
<port name="NewGymWebServicePort" binding="tns:NewGymWebServicePortBinding">
<soap:address location="http://localhost:8080/GymService1/NewGymWebService"/>
</port>
</service>
</definitions>